OPENROUTER_API_KEY=

BETA_USERS=email1,email2...

POLAR_ACCESS_TOKEN=XXX
POLAR_SUCCESS_URL=http://localhost:3000/success?checkout_id={CHECKOUT_ID}
POLAR_WEBHOOK_SECRET=testing

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SERVICE_ROLE_KEY=
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_POSTHOG_KEY=
NEXT_PUBLIC_POSTHOG_HOST=
NEXT_PUBLIC_LOGO_DEV_PUBLISHABLE_KEY=
NEXT_PUBLIC_POLAR_SERVER=sandbox
NEXT_PUBLIC_POLAR_PRODUCT_ID_TOPUP_50=
NEXT_PUBLIC_POLAR_PRODUCT_ID_ACCELERATOR=

CLOUDFLARE_R2_ACCOUNT_ID=your-account-id
CLOUDFLARE_R2_ACCESS_KEY_ID=your-access-key
CLOUDFLARE_R2_SECRET_ACCESS_KEY=your-secret-key
CLOUDFLARE_R2_BUCKET_NAME=your-bucket-name
CLOUDFLARE_R2_PUBLIC_URL=https://pub-xxxxx.r2.dev